#

In [1]:
import pandas as pd

# URLs for each CSV file in your GitHub repository
urls = {
    'AM_and_winger_scores': 'https://raw.githubusercontent.com/Jbuck1016/Player-Recommendation-System/main/Player%20Metrics/Attacking%20Midfielders%20and%20Wingers/Attacking%20Mid%20and%20Winger%20Role%20Scores.csv?token=GHSAT0AAAAAACR2SE2PTEZPWD3JCPW7J2QGZRVJ5HA',
    'RB_scores': 'https://raw.githubusercontent.com/Jbuck1016/Player-Recommendation-System/main/Player%20Metrics/Right%20Backs/Right%20Back%20Role%20Scores.csv?token=GHSAT0AAAAAACR2SE2PNCOUTXW4WHHIGFTMZRVKG4A',
    'CB_scores': 'https://raw.githubusercontent.com/Jbuck1016/Player-Recommendation-System/main/Player%20Metrics/Center%20Backs/Center%20Back%20Role%20Scores.csv?token=GHSAT0AAAAAACR2SE2PZIJ5PO3GS4KKKEAGZRVKHCA',
    'FW_scores': 'https://raw.githubusercontent.com/Jbuck1016/Player-Recommendation-System/main/Player%20Metrics/Forwards/Forward%20Role%20Scores.csv?token=GHSAT0AAAAAACR2SE2OOPTSJPVC2FSEBVTEZRVKHHQ',
    'LB_scores': 'https://raw.githubusercontent.com/Jbuck1016/Player-Recommendation-System/main/Player%20Metrics/Left%20Backs/Left%20Back%20Role%20Scores.csv?token=GHSAT0AAAAAACR2SE2RRBEUIZDOHUSKLRCGZRVKJ4A',  # Adjusted URL for the raw CSV
    'CM_scores': 'https://raw.githubusercontent.com/Jbuck1016/Player-Recommendation-System/main/Player%20Metrics/Center%20Midfielders/Center%20Midfielder%20Role%20Scores.csv?token=GHSAT0AAAAAACR2SE2OSDIHFHFJBW7BVAS6ZRVKHSA'
}

# Load each CSV file from the URL
AM_and_winger_scores = pd.read_csv(urls['AM_and_winger_scores'])
RB_scores = pd.read_csv(urls['RB_scores'])
CB_scores = pd.read_csv(urls['CB_scores'])
FW_scores = pd.read_csv(urls['FW_scores'])
LB_scores = pd.read_csv(urls['LB_scores'])  # Assuming you will get a similar tokenized URL for the raw CSV
CM_scores = pd.read_csv(urls['CM_scores'])

In [2]:
FW_scores

,player,team,league,poacher_score,outlet_score,deep_lying_score,dribbler_score,creator_score,target_man_score,age
0,Eddie Nketiah,Arsenal,ENG-Premier League,66.723789,64.415332,27.817067,60.583327,57.718768,63.067357,24
1,Gabriel Jesus,Arsenal,ENG-Premier League,66.232726,59.462533,39.321079,71.900907,74.367250,47.825469,27
2,Moussa Diaby,Aston Villa,ENG-Premier League,63.103051,59.497231,52.350451,82.708867,91.952779,18.794860,24
3,Ollie Watkins,Aston Villa,ENG-Premier League,82.168000,60.370277,41.925106,62.158197,84.507214,66.733360,28
4,Dominic Solanke,Bournemouth,ENG-Premier League,80.442405,70.640605,28.865867,58.600570,73.429253,80.662936,26
...,...,...,...,...,...,...,...,...,...,...
613,Mateo Coronel,Tucumán,ARG-League,57.397167,67.294778,42.023243,80.743871,79.223515,47.715774,24
614,Ramiro Ruiz,Tucumán,ARG-League,52.923663,74.695893,38.272241,79.639914,83.368747,65.735006,22
615,Abiel Osorio,Vélez Sarsfield,ARG-League,44.483816,65.009136,32.988916,63.751631,59.831486,77.566282,20
616,Lucas Pratto,Vélez Sarsfield,ARG-League,49.774437,69.013333,37.824445,68.406421,61.947727,79.399273,34
617,Santiago Castro,Vélez Sarsfield,ARG-League,49.579568,72.798876,37.664088,72.388444,42.443464,70.498761,18

In [3]:
import pandas as pd

# Define the URL of the CSV file
url = 'https://raw.githubusercontent.com/Jbuck1016/Player-Recommendation-System/main/Player%20Metrics/Team%20Stats/League%20Ratings%20Cleaned.csv'

# Load the CSV file into a DataFrame directly from GitHub
league_ratings = pd.read_csv(url)

# Display the DataFrame
league_ratings

                League  Average_Rating  Number_of_Teams
0   ENG-Premier League           86.81               20
1          ITA-Serie A           84.86               20
2          ESP-La Liga           84.84               20
3       GER-Bundesliga           84.62               18
4          FRA-Ligue 1           84.05               18
5       BEL-Pro League           77.87               16
6           POR-League           77.37               18
7           BRA-League           75.99               24
8     ENG-Championship           75.73               24
9       NED-Eredivisie           74.76               18
10          ARG-League           74.36               29

In [4]:
import pandas as pd

# Define the URL of the CSV file
url = 'https://raw.githubusercontent.com/Jbuck1016/Player-Recommendation-System/main/Player%20Metrics/Team%20Stats/Team%20Ratings.csv'

# Load the CSV file into a DataFrame directly from GitHub
team_ratings = pd.read_csv(url)

# Display the DataFrame
team_ratings

,rank,team,rating,ranking change 7 days,id,League,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,1,Manchester City,100.0,0,a3nyxabgsqlnqfkeg41m6tnpp,Premier League,NaN,NaN,NaN
1,2,Real Madrid,98.0,0,3kq9cckrnlogidldtdie2fkbl,La Liga,NaN,NaN,NaN
2,3,Internazionale,97.6,0,3vo5mpj7catp66nrwwqiuhuup,Serie A,NaN,NaN,NaN
3,4,PSG,95.5,0,2b3mar72yy8d6uvat1ka6tn3r,Ligue 1,NaN,NaN,NaN
4,5,Arsenal,95.0,2,4dsgumo7d4zupm2ugsvm4zm4d,Premier League,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
220,891,Excelsior,68.6,33,dqk062lu0vm8epvytbm6r4mmf,Eredivisie,NaN,NaN,NaN
221,910,AS Eupen,68.4,-40,9njsy633rh1tyri7l2jaju5o,Belgian Pro League,NaN,NaN,NaN
222,932,Vitesse,68.3,39,6hsriqr3ybvyg94w2k19oal50,Eredivisie,NaN,NaN,NaN
223,951,Rotherham United,68.2,-26,6m5s30n9ej0dqfk1hfyrlkhdw,Championship,NaN,NaN,NaN
224,1170,Volendam,66.5,-17,6g9qrm72224jrk6tkxxxi8a9n,Eredivisie,NaN,NaN,NaN

In [5]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from scipy.spatial import distance

# Define the URL of the CSV file
url = 'https://raw.githubusercontent.com/Jbuck1016/Player-Recommendation-System/main/Player%20Metrics/Team%20Stats/Team%20Playstyle%20Scores.csv'

# Load the CSV file into a DataFrame directly from GitHub
teams_df = pd.read_csv(url)
teams_df.set_index('team', inplace=True)  # Assuming 'team' is the column with team names

def calculate_team_style_similarity(teams_df):
    scaler = MinMaxScaler()
    score_columns = ['high_press_score', 'deep_block_score', 'narrow_defense_score', 
                     'deep_circulation_score', 'high_retention_score', 'wide_attack_score']
    df_normalized = teams_df.copy()
    df_normalized[score_columns] = scaler.fit_transform(teams_df[score_columns])
    distance_matrix = distance.cdist(df_normalized[score_columns], df_normalized[score_columns], 'euclidean')
    similarity_scores = 100 * (1 - (distance_matrix / distance_matrix.max()))
    # Set index and columns to team names which are now the index of df_normalized
    similarity_df = pd.DataFrame(similarity_scores, index=teams_df.index, columns=teams_df.index)
    return similarity_df

team_style_similarity = calculate_team_style_similarity(teams_df)
team_style_similarity

team,Arsenal,Aston Villa,Bournemouth,Brentford,Brighton,Burnley,Chelsea,Crystal Palace,Everton,Fulham,...,Platense,Racing Club,River Plate,Rosario Cent,San Lorenzo,Sarmiento,Talleres,Tigre,Tucumán,Vélez Sarsfield
team,,,,,,,,,,,,,,,,,,,,,
Arsenal,100.000000,50.895153,46.977305,40.924586,67.505490,56.228450,77.204955,54.614093,45.520456,46.312779,...,32.137657,36.417444,68.551523,34.670284,41.662599,17.428784,30.992208,37.189315,39.707868,43.778824
Aston Villa,50.895153,100.000000,63.375440,44.574438,63.366353,71.729170,63.342441,55.551037,53.044661,61.078288,...,26.056248,30.247191,41.253838,29.585567,26.048179,19.868713,43.343175,23.737586,42.257725,26.263332
Bournemouth,46.977305,63.375440,100.000000,66.138842,55.062876,63.547701,52.794286,64.234547,66.368356,58.583049,...,36.651915,35.159403,44.589452,39.870328,38.953774,36.465688,54.761354,26.585322,51.891242,35.351372
Brentford,40.924586,44.574438,66.138842,100.000000,36.378418,45.984014,39.094145,68.176796,62.255079,44.668932,...,37.292715,30.114226,43.612498,39.554818,56.941087,52.279864,64.733954,21.642153,54.464446,43.618695
Brighton,67.505490,63.366353,55.062876,36.378418,100.000000,66.011349,72.356673,46.993124,41.611865,57.036247,...,20.649095,31.300077,44.764416,25.900720,27.273726,4.409420,23.316863,23.532281,30.560336,26.956564
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Sarmiento,17.428784,19.868713,36.465688,52.279864,4.409420,26.420976,18.304595,53.180179,57.620950,23.488643,...,54.885609,26.021486,36.704554,47.207282,51.128209,100.000000,67.615981,28.329063,63.126852,47.398676
Talleres,30.992208,43.343175,54.761354,64.733954,23.316863,45.517520,37.221750,69.877111,69.449460,45.634519,...,49.174866,40.797598,47.150408,52.032405,47.457748,67.615981,100.000000,37.165337,70.703588,49.503162
Tigre,37.189315,23.737586,26.585322,21.642153,23.532281,43.316295,47.687965,49.972561,49.504214,44.511450,...,59.604547,73.970241,63.169999,69.884787,37.019241,28.329063,37.165337,100.000000,57.622897,65.206521
Tucumán,39.707868,42.257725,51.891242,54.464446,30.560336,57.671156,47.566411,78.875620,84.362168,56.225153,...,76.643527,59.382368,59.459745,78.118242,61.397813,63.126852,70.703588,57.622897,100.000000,70.908474
Vélez Sarsfield,43.778824,26.263332,35.351372,43.618695,26.956564,45.979600,45.920132,66.841264,61.759213,46.747667,...,70.862904,64.702983,66.509565,77.287888,70.421728,47.398676,49.503162,65.206521,70.908474,100.000000

In [6]:
league_ratings

                League  Average_Rating  Number_of_Teams
0   ENG-Premier League           86.81               20
1          ITA-Serie A           84.86               20
2          ESP-La Liga           84.84               20
3       GER-Bundesliga           84.62               18
4          FRA-Ligue 1           84.05               18
5       BEL-Pro League           77.87               16
6           POR-League           77.37               18
7           BRA-League           75.99               24
8     ENG-Championship           75.73               24
9       NED-Eredivisie           74.76               18
10          ARG-League           74.36               29

In [7]:
import pandas as pd

# Assuming teams_df and team_ratings are already loaded DataFrames

def find_unique_teams(df1, df2):
    """
    Find unique team names in two DataFrames.

    :param df1: pandas.DataFrame - First DataFrame with team names.
    :param df2: pandas.DataFrame - Second DataFrame with team names.
    :return: tuple of sets - (unique_to_df1, unique_to_df2)
    """
    teams_df1 = set(df1.index.unique())  # Assuming the team names are in the index for df1
    teams_df2 = set(df2['team'].unique())

    unique_to_df1 = teams_df1.difference(teams_df2)
    unique_to_df2 = teams_df2.difference(teams_df1)

    return unique_to_df1, unique_to_df2

# Example usage:
unique_teams_teams_df, unique_teams_team_ratings = find_unique_teams(teams_df, team_ratings)
print("Unique to teams_df (teams_df index):", unique_teams_teams_df)
print("Unique to team_ratings (team column):", unique_teams_team_ratings)

Unique to teams_df (teams_df index): {'Sheffield Weds', 'Paris S-G', 'CA Huracán', 'Marseille', 'Ath Paranaense', 'Rotherham Utd', 'Eupen', 'Argentinos Jun', 'Huddersfield', 'CA Unión', 'AZ Alkmaar', 'América (MG)', "Nott'ham Forest", 'Dortmund', 'Sheffield Utd', 'Preston', 'Manchester Utd', 'QPR', 'Leverkusen', 'West Ham', 'Eint Frankfurt', 'Tottenham', "M'Gladbach", 'Inter', 'Bournemouth', 'PSV Eindhoven', 'Talleres', 'Clermont Foot', 'Botafogo (RJ)', 'Celta Vigo', 'Defensa y Just', 'Lyon', 'NEC Nijmegen', 'Blackburn', 'Rosario Cent', 'Brighton', 'Alavés', 'Heracles Almelo', 'Tucumán', 'West Brom', 'Go Ahead Eag', 'Bayern Munich', "Sparta R'dam", 'Zwolle', 'Betis', "Newell's OB", 'Wolves', 'Union SG', 'Braga', 'Gimnasia ELP', 'Charleroi', 'Gil Vicente FC', 'Newcastle Utd', 'Bragantino', 'CC Córdoba', 'RWD Molenbeek'}
Unique to team_ratings (team column): {'América Mineiro', 'Deportivo Alavés', 'Olympique Lyonnais', 'Atlético Goianiense', 'Independiente Rivadavia', 'Celta de Vigo', 'AS Eupen', 'Sparta Rotterdam', 'Talleres de Córdoba', 'West Bromwich Albion', 'Manchester United', 'Wolverhampton Wanderers', 'RB Bragantino', 'Tottenham Hotspur', 'Sporting Charleroi', 'Blackburn Rovers', 'Internazionale', 'Botafogo', 'Criciúma', 'Go Ahead Eagles', 'West Ham United', 'Central Córdoba SdE', 'Athletico Paranaense', 'Clermont', 'Brighton & Hove Albion', 'Eintracht Frankfurt', 'Gil Vicente', 'Deportivo Riestra', 'Argentinos Juniors', 'AFC Bournemouth', "Borussia M'gladbach", 'PEC Zwolle', 'Atlético Tucumán', 'PSV', 'NEC', 'Preston North End', 'Sporting Braga', 'Defensa y Justicia', 'Juventude', 'Sheffield United', 'Unión', 'Vitória Guimarães', "Newell's Old Boys", 'RWDM', 'Bayern München', 'Sheffield Wednesday', 'Union Saint-Gilloise', 'PSG', 'Borussia Dortmund', 'Huracán', 'Gimnasia La Plata', 'Real Betis', 'Newcastle United', 'Heracles', 'Huddersfield Town', 'Rotherham United', 'Nottingham Forest', 'AZ', 'Rosario Central', 'Olympique Marseille', 'Bayer Leverkusen', 'Queens Park Rangers'}

In [8]:
teams_df

,league,high_press_score,deep_block_score,narrow_defense_score,deep_circulation_score,high_retention_score,wide_attack_score
team,,,,,,,
Arsenal,ENG-Premier League,77.61,51.25,47.64,94.73,24.95,3.06
Aston Villa,ENG-Premier League,34.25,0.00,48.48,82.57,0.00,36.84
Bournemouth,ENG-Premier League,53.72,25.88,16.41,47.71,1.60,53.44
Brentford,ENG-Premier League,32.43,75.95,18.07,52.80,0.00,61.23
Brighton,ENG-Premier League,65.28,9.84,17.68,97.93,23.34,8.85
...,...,...,...,...,...,...,...
Sarmiento,ARG-League,26.53,92.77,70.43,0.00,13.13,67.74
Talleres,ARG-League,30.14,62.35,65.20,39.05,11.95,85.05
Tigre,ARG-League,79.29,47.87,90.17,48.54,89.72,51.54
Tucumán,ARG-League,35.08,56.20,66.06,29.46,47.34,55.43
Vélez Sarsfield,ARG-League,49.75,84.01,63.15,46.62,75.13,41.68

In [9]:
# Sample team name mappings based on the provided unique lists
name_mapping = {
    'Eintracht Frankfurt': 'Eint Frankfurt',
    'Heracles': 'Heracles Almelo',
    'RWDM': 'RWD Molenbeek',
    'West Ham United': 'West Ham',
    'Olympique Marseille': 'Marseille',
    'Tottenham Hotspur': 'Tottenham',
    'Athletico Paranaense': 'Ath Paranaense',
    'Clermont': 'Clermont Foot',
    'Go Ahead Eagles': 'Go Ahead Eag',
    'Wolverhampton Wanderers': 'Wolves',
    'Criciúma': 'Criciúma',  # If no mapping needed, don't include or correct spelling
    'Atlético Tucumán': 'Tucumán',
    'Vitória Guimarães': 'Vitória',
    'NEC': 'NEC Nijmegen',
    'Gil Vicente': 'Gil Vicente FC',
    'Rosario Central': 'Rosario Cent',
    'Union Saint-Gilloise': 'Union SG',
    'Internazionale': 'Inter',
    'Borussia Dortmund': 'Dortmund',
    'Gimnasia La Plata': 'Gimnasia ELP',
    'Deportivo Alavés': 'Alavés',
    'Botafogo': 'Botafogo (RJ)',
    'AZ': 'AZ Alkmaar',
    'PSV': 'PSV Eindhoven',
    'Queens Park Rangers': 'QPR',
    'Independiente Rivadavia': 'Independiente Rivadavia',  # Example if no mapping is needed
    "Newell's Old Boys": "Newell's OB",
    'Nottingham Forest': "Nott'ham Forest",
    'AFC Bournemouth': 'Bournemouth',
    'Preston North End': 'Preston',
    'Newcastle United': 'Newcastle Utd',
    'Sporting Braga': 'Braga',
    'Argentinos Juniors': 'Argentinos Jun',
    'Deportivo Riestra': 'Deportivo Riestra',  # Example if no mapping is needed
    'PEC Zwolle': 'Zwolle',
    'Real Betis': 'Betis',
    'West Bromwich Albion': 'West Brom',
    'Huracán': 'CA Huracán',
    'Sparta Rotterdam': "Sparta R'dam",
    'PSG': 'Paris S-G',
    'Sheffield United': 'Sheffield Utd',
    'Celta de Vigo': 'Celta Vigo',
    'Sporting Charleroi': 'Charleroi',
    'Sheffield Wednesday': 'Sheffield Weds',
    'Huddersfield Town': 'Huddersfield',
    'Juventude': 'Juventude',  # Example if no mapping is needed
    'RB Bragantino': 'Bragantino',
    'Bayern München': 'Bayern Munich',
    'Bayer Leverkusen': 'Leverkusen',
    'Olympique Lyonnais': 'Lyon',
    'Rotherham United': 'Rotherham Utd',
    'Talleres de Córdoba': 'Talleres',
    'Central Córdoba SdE': 'CC Córdoba',
    'Manchester United': 'Manchester Utd',
    "Borussia M'gladbach": "M'Gladbach",
    'Blackburn Rovers': 'Blackburn',
    'Unión': 'CA Unión',
    'Atlético Goianiense': 'Atlético Goianiense',  # Example if no mapping is needed
    'AS Eupen': 'Eupen',
    'Brighton & Hove Albion': 'Brighton',
    'Defensa y Justicia': 'Defensa y Just',
    'GrÃªmio': 'Grêmio',
    'Deportivo AlavÃ©s': 'Alavés',
    'KÃ¶ln': 'Köln',
    'Standard LiÃ¨ge': 'Standard Liège',
    'AtlÃ©tico Madrid': 'Atlético Madrid',
    'CÃ¡diz': 'Cádiz',
    'Bayern MÃ¼nchen': 'Bayern Munich',
    'HuracÃ¡n': 'CA Huracán',
    'VÃ©lez Sarsfield': 'Vélez Sarsfield',
    'AtlÃ©tico Mineiro': 'Atlético Mineiro',
    'CuiabÃ¡': 'Cuiabá',
    'Talleres de CÃ³rdoba': 'Talleres',
    'VitÃ³ria GuimarÃ£es': 'Vitória',
    'AtlÃ©tico TucumÃ¡n': 'Tucumán',
    'UniÃ³n': 'CA Unión',
    'LanÃºs': 'Lanús',
    'AlmerÃ\xada': 'Almería',
    'FamalicÃ£o': 'Famalicão',
    'VitÃ³ria': 'Vitória',
    'Central CÃ³rdoba SdE': 'CC Córdoba',
    'SÃ£o Paulo': 'São Paulo',
    'GoiÃ¡s': 'Goiás',
    'América Mineiro': 'América (MG)',
    'Coritiba': 'Coritiba',
    'Santos': 'Santos',
    'ColÃ³n': 'Colón'
    
    

}
# List of unique teams to drop from team_ratings
teams_to_drop_team_ratings = {'Criciúma', 'Deportivo Riestra', 'Atlético Goianiense', 'Juventude', 'Independiente Rivadavia'}

# Dropping the rows where the 'team' value is in the set of teams_to_drop_team_ratings for team_ratings
team_ratings = team_ratings[~team_ratings['team'].isin(teams_to_drop_team_ratings)]
# Apply the mapping to the 'team' column in the team_ratings DataFrame
team_ratings['team'] = team_ratings['team'].map(name_mapping).fillna(team_ratings['team'])

# Check the updated DataFrame
print(team_ratings)

     rank             team  rating  ranking change 7 days  \
0       1  Manchester City   100.0                      0
1       2      Real Madrid    98.0                      0
2       3            Inter    97.6                      0
3       4        Paris S-G    95.5                      0
4       5          Arsenal    95.0                      2
..    ...              ...     ...                    ...
220   891        Excelsior    68.6                     33
221   910            Eupen    68.4                    -40
222   932          Vitesse    68.3                     39
223   951    Rotherham Utd    68.2                    -26
224  1170         Volendam    66.5                    -17

                            id              League  Unnamed: 6  Unnamed: 7  \
0    a3nyxabgsqlnqfkeg41m6tnpp      Premier League         NaN         NaN
1    3kq9cckrnlogidldtdie2fkbl             La Liga         NaN         NaN
2    3vo5mpj7catp66nrwwqiuhuup             Serie A         NaN         NaN
3    2b3mar72yy8d6uvat1ka6tn3r             Ligue 1         NaN         NaN
4    4dsgumo7d4zupm2ugsvm4zm4d      Premier League         NaN         NaN
..                         ...                 ...         ...         ...
220  dqk062lu0vm8epvytbm6r4mmf          Eredivisie         NaN         NaN
221   9njsy633rh1tyri7l2jaju5o  Belgian Pro League         NaN         NaN
222  6hsriqr3ybvyg94w2k19oal50          Eredivisie         NaN         NaN
223  6m5s30n9ej0dqfk1hfyrlkhdw        Championship         NaN         NaN
224  6g9qrm72224jrk6tkxxxi8a9n          Eredivisie         NaN         NaN

     Unnamed: 8
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
..          ...
220         NaN
221         NaN
222         NaN
223         NaN
224         NaN

[220 rows x 9 columns]

C:\Users\jbuck\AppData\Local\Temp\ipykernel_21980\1070427095.py:100: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team_ratings['team'] = team_ratings['team'].map(name_mapping).fillna(team_ratings['team'])

In [10]:
import pandas as pd

# Assuming teams_df and team_ratings are already loaded DataFrames

def find_unique_teams(df1, df2):
    """
    Find unique team names in two DataFrames.

    :param df1: pandas.DataFrame - First DataFrame with team names.
    :param df2: pandas.DataFrame - Second DataFrame with team names.
    :return: tuple of sets - (unique_to_df1, unique_to_df2)
    """
    teams_df1 = set(df1.index.unique())  # Assuming the team names are in the index for df1
    teams_df2 = set(df2['team'].unique())

    unique_to_df1 = teams_df1.difference(teams_df2)
    unique_to_df2 = teams_df2.difference(teams_df1)

    return unique_to_df1, unique_to_df2

# Example usage:
unique_teams_teams_df, unique_teams_team_ratings = find_unique_teams(teams_df, team_ratings)
print("Unique to teams_df (teams_df index):", unique_teams_teams_df)
print("Unique to team_ratings (team column):", unique_teams_team_ratings)

Unique to teams_df (teams_df index): set()
Unique to team_ratings (team column): set()

In [11]:
import pandas as pd

# Sample DataFrames
# league_ratings = pd.DataFrame({
#     'League': ['Premier League', 'La Liga', 'Bundesliga', 'Serie A', 'Ligue 1']
# })
# team_ratings = pd.DataFrame({
#     'team': ['Liverpool', 'Real Madrid', 'Bayern Munich', 'Juventus', 'PSG'],
#     'league': ['Premier League', 'La Liga', 'Bundesliga', 'Serie A', 'Ligue 1']
# })

# Print unique leagues from league_ratings
unique_leagues_league_ratings = league_ratings['League'].unique()
print("Unique Leagues in league_ratings:")
print(unique_leagues_league_ratings)

# Print unique leagues from team_ratings
unique_leagues_team_ratings = team_ratings['League'].unique()
print("\nUnique Leagues in team_ratings:")
print(unique_leagues_team_ratings)

Unique Leagues in league_ratings:
['ENG-Premier League' 'ITA-Serie A' 'ESP-La Liga' 'GER-Bundesliga'
 'FRA-Ligue 1' 'BEL-Pro League' 'POR-League' 'BRA-League'
 'ENG-Championship' 'NED-Eredivisie' 'ARG-League']

Unique Leagues in team_ratings:
['Premier League' 'La Liga' 'Serie A' 'Ligue 1' 'Bundesliga'
 'Premiere Liga' 'Eredivisie' 'Belgian Pro League' 'Championship'
 'Brazillian League' 'Argentinian League']

In [12]:
import pandas as pd

# Assuming league_ratings and team_ratings are already loaded

# Mapping dictionary to standardize names
league_name_mapping = {
    'Premier League': 'ENG-Premier League',
    'La Liga': 'ESP-La Liga',
    'Serie A': 'ITA-Serie A',
    'Ligue 1': 'FRA-Ligue 1',
    'Bundesliga': 'GER-Bundesliga',
    'Premiere Liga': 'POR-Premier Liga',  # Assuming this maps to a Russian league, adjust as necessary
    'Eredivisie': 'NED-Eredivisie',
    'Belgian Pro League': 'BEL-Pro League',
    'Championship': 'ENG-Championship',
    'Brazillian League': 'BRA-League',
    'Argentinian League': 'ARG-League'
}

# Apply the mapping to the 'league' column in team_ratings
team_ratings['League'] = team_ratings['League'].map(league_name_mapping)

print(team_ratings)

     rank             team  rating  ranking change 7 days  \
0       1  Manchester City   100.0                      0
1       2      Real Madrid    98.0                      0
2       3            Inter    97.6                      0
3       4        Paris S-G    95.5                      0
4       5          Arsenal    95.0                      2
..    ...              ...     ...                    ...
220   891        Excelsior    68.6                     33
221   910            Eupen    68.4                    -40
222   932          Vitesse    68.3                     39
223   951    Rotherham Utd    68.2                    -26
224  1170         Volendam    66.5                    -17

                            id              League  Unnamed: 6  Unnamed: 7  \
0    a3nyxabgsqlnqfkeg41m6tnpp  ENG-Premier League         NaN         NaN
1    3kq9cckrnlogidldtdie2fkbl         ESP-La Liga         NaN         NaN
2    3vo5mpj7catp66nrwwqiuhuup         ITA-Serie A         NaN         NaN
3    2b3mar72yy8d6uvat1ka6tn3r         FRA-Ligue 1         NaN         NaN
4    4dsgumo7d4zupm2ugsvm4zm4d  ENG-Premier League         NaN         NaN
..                         ...                 ...         ...         ...
220  dqk062lu0vm8epvytbm6r4mmf      NED-Eredivisie         NaN         NaN
221   9njsy633rh1tyri7l2jaju5o      BEL-Pro League         NaN         NaN
222  6hsriqr3ybvyg94w2k19oal50      NED-Eredivisie         NaN         NaN
223  6m5s30n9ej0dqfk1hfyrlkhdw    ENG-Championship         NaN         NaN
224  6g9qrm72224jrk6tkxxxi8a9n      NED-Eredivisie         NaN         NaN

     Unnamed: 8
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
..          ...
220         NaN
221         NaN
222         NaN
223         NaN
224         NaN

[220 rows x 9 columns]

C:\Users\jbuck\AppData\Local\Temp\ipykernel_21980\2767560036.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team_ratings['League'] = team_ratings['League'].map(league_name_mapping)

In [13]:
import pandas as pd

def generate_player_shortlist(team, position, role, df_scores, df_team_ratings, df_league_ratings, team_style_similarity):
    role_column = f"{role.lower()}_score"
    candidates = df_scores[(df_scores['team'] != team) & (df_scores[role_column].notna())].sort_values(by=role_column, ascending=False)

    shortlist = []
    team_league = df_team_ratings.loc[df_team_ratings['team'] == team, 'League'].dropna().values[0]

    for _, player in candidates.iterrows():
        player_team = player['team']
        player_league = player['league']
        role_score = player[role_column]
        if isinstance(role_score, pd.Series):
            role_score = role_score.iloc[0]

        team_style_score = team_style_similarity.loc[team, player_team] if (team in team_style_similarity.index and player_team in team_style_similarity.columns) else 0
        if isinstance(team_style_score, pd.Series):
            team_style_score = team_style_score.iloc[0]

        team_quality_score = get_team_quality_similarity(player_team, team, df_team_ratings)
        if isinstance(team_quality_score, pd.Series):
            team_quality_score = team_quality_score.iloc[0]

        league_quality_score = get_league_quality_similarity(player_league, team_league, df_league_ratings)
        if isinstance(league_quality_score, pd.Series):
            league_quality_score = league_quality_score.iloc[0]

        combined_score = (0.5 * role_score +
                          0.2 * team_style_score +
                          0.2 * team_quality_score +
                          0.1 * league_quality_score)

        if isinstance(combined_score, pd.Series):
            combined_score = combined_score.iloc[0]

        shortlist.append({'Player': player['player'], 'Team': player_team, 'Score': combined_score})

    if not shortlist:
        return pd.DataFrame()  # Return an empty DataFrame if no candidates

    df_shortlist = pd.DataFrame(shortlist)
    df_shortlist.sort_values(by='Score', ascending=False, inplace=True)
    return df_shortlist.head(15)






def get_team_quality_similarity(player_team, team, df_team_ratings):
    """
    Calculates the quality similarity score between two teams based on their ratings.

    :param player_team: str - Team of the player being evaluated.
    :param team: str - Team looking to recruit.
    :param df_team_ratings: DataFrame - Contains ratings for each team.
    :return: float - Quality similarity score.
    """
    player_ratings = df_team_ratings[df_team_ratings['team'] == player_team]['rating']
    team_ratings = df_team_ratings[df_team_ratings['team'] == team]['rating']

    if player_ratings.empty or team_ratings.empty:
        print(f"Rating data missing for {player_team} or {team}.")
        return 0

    return 1 - abs(player_ratings.iloc[0] - team_ratings.iloc[0]) / 100

def get_league_quality_similarity(player_league, team_league, df_league_ratings):
    """
    Calculates the quality similarity score between two leagues based on their average ratings.

    :param player_league: str - League of the player being evaluated.
    :param team_league: str - League of the team looking to recruit.
    :param df_league_ratings: DataFrame - Contains average ratings for each league.
    :return: float - League quality similarity score.
    """
    player_league_ratings = df_league_ratings[df_league_ratings['League'] == player_league]['Average_Rating']
    team_league_ratings = df_league_ratings[df_league_ratings['League'] == team_league]['Average_Rating']

    if player_league_ratings.empty or team_league_ratings.empty:
        print(f"League rating data missing for {player_league} or {team_league}.")
        return 0

    return 1 - abs(player_league_ratings.iloc[0] - team_league_ratings.iloc[0]) / 100

# Example usage
# Example usage
team = 'Arsenal'
position = 'FW'
role = 'Poacher'
recommended_players_df = generate_player_shortlist(team, position, role, FW_scores, team_ratings, league_ratings, team_style_similarity)
print("Recommended players:")
recommended_players_df

Recommended players:

                     Player         Team      Score
0                Ayase Ueda    Feyenoord  66.573388
2          Santiago Giménez    Feyenoord  64.736126
1             Brian Brobbey         Ajax  63.559008
3               Simon Banza        Braga  60.734238
7               Andi Zeqiri         Genk  60.411894
5          Cristhian Stuani       Girona  59.152056
10              Chuba Akpom         Ajax  59.073279
9   Mohamed El Amine Amoura     Union SG  58.873611
16          Viktor Gyökeres  Sporting CP  58.517326
13             Luis Vázquez   Anderlecht  57.914049
17        Vangelis Pavlidis   AZ Alkmaar  57.705958
29            Toni Martínez        Porto  57.612234
35               Petar Musa      Benfica  57.364826
18           Tolu Arokodare         Genk  57.338797
26        George Ilenikhena      Antwerp  57.131443

In [14]:
import ipywidgets as widgets
from IPython.display import display
import pandas as pd

def generate_player_shortlist(team, position, role, df_scores, df_team_ratings, df_league_ratings, team_style_similarity, age_filter):
    role_column = f"{role.lower()}_score"
    candidates = df_scores[(df_scores['team'] != team) & (df_scores[role_column].notna())]

    if age_filter == 'Below 21':
        candidates = candidates[candidates['age'] < 21]
    elif age_filter == 'Above 21':
        candidates = candidates[candidates['age'] >= 21]
    if age_filter == 'Below 25':
        candidates = candidates[candidates['age'] < 25]
    elif age_filter == 'Above 25':
        candidates = candidates[candidates['age'] >= 25]
    if age_filter == 'Below 29':
        candidates = candidates[candidates['age'] < 29]
    elif age_filter == 'Above 29':
        candidates = candidates[candidates['age'] >= 29]
    candidates = candidates.sort_values(by=role_column, ascending=False)

    shortlist = []
    team_league = df_team_ratings.loc[df_team_ratings['team'] == team, 'League'].dropna().values[0]

    for _, player in candidates.iterrows():
        player_team = player['team']
        player_league = player['league']
        role_score = player[role_column]
        if isinstance(role_score, pd.Series):
            role_score = role_score.iloc[0]

        team_style_score = team_style_similarity.loc[team, player_team] if (team in team_style_similarity.index and player_team in team_style_similarity.columns) else 0
        if isinstance(team_style_score, pd.Series):
            team_style_score = team_style_score.iloc[0]

        team_quality_score = get_team_quality_similarity(player_team, team, df_team_ratings)
        if isinstance(team_quality_score, pd.Series):
            team_quality_score = team_quality_score.iloc[0]

        league_quality_score = get_league_quality_similarity(player_league, team_league, df_league_ratings)
        if isinstance(league_quality_score, pd.Series):
            league_quality_score = league_quality_score.iloc[0]

        combined_score = (0.5 * role_score +
                          0.2 * team_style_score +
                          0.2 * team_quality_score +
                          0.1 * league_quality_score)

        if isinstance(combined_score, pd.Series):
            combined_score = combined_score.iloc[0]

        age = player['age'] if 'age' in df_scores.columns else None  # Get the age value if available

        shortlist.append({'Player': player['player'], 'Team': player_team, 'Score': combined_score, 'Age': age})

    if not shortlist:
        return pd.DataFrame()  # Return an empty DataFrame if no candidates

    df_shortlist = pd.DataFrame(shortlist)
    df_shortlist.sort_values(by='Score', ascending=False, inplace=True)
    return df_shortlist.head(15)






def get_team_quality_similarity(player_team, team, df_team_ratings):
    """
    Calculates the quality similarity score between two teams based on their ratings.

    :param player_team: str - Team of the player being evaluated.
    :param team: str - Team looking to recruit.
    :param df_team_ratings: DataFrame - Contains ratings for each team.
    :return: float - Quality similarity score.
    """
    player_ratings = df_team_ratings[df_team_ratings['team'] == player_team]['rating']
    team_ratings = df_team_ratings[df_team_ratings['team'] == team]['rating']

    if player_ratings.empty or team_ratings.empty:
        print(f"Rating data missing for {player_team} or {team}.")
        return 0

    return 1 - abs(player_ratings.iloc[0] - team_ratings.iloc[0]) / 100

def get_league_quality_similarity(player_league, team_league, df_league_ratings):
    """
    Calculates the quality similarity score between two leagues based on their average ratings.

    :param player_league: str - League of the player being evaluated.
    :param team_league: str - League of the team looking to recruit.
    :param df_league_ratings: DataFrame - Contains average ratings for each league.
    :return: float - League quality similarity score.
    """
    player_league_ratings = df_league_ratings[df_league_ratings['League'] == player_league]['Average_Rating']
    team_league_ratings = df_league_ratings[df_league_ratings['League'] == team_league]['Average_Rating']

    if player_league_ratings.empty or team_league_ratings.empty:
        print(f"League rating data missing for {player_league} or {team_league}.")
        return 0

    return 1 - abs(player_league_ratings.iloc[0] - team_league_ratings.iloc[0]) / 100
# Adjusted to reflect your actual DataFrame index for teams
teams = sorted(teams_df.index.unique())  # Sorted list of unique teams from the index of teams_df
positions = {'FW': ['Poacher', 'Creator', 'Dribbler', 'Outlet', 'Deep_lying', 'Target_man'], 'CM': ['deep_lying_playmaker', 'Ball_winner', 'Dribbler', 'Final_third'], 'LB': ['Progression', 'Attacking', 'Defensive'], 'RB': ['Progression', 'Attacking', 'Defensive'], 'CB': ['Progressor', 'Box_defender', 'Aggressive_defender'], 'AMs and Wingers': ['Wide_creator', 'Central_creator', 'Goal_threat', 'Dribbler', 'Defensive']}


def on_generate_clicked(b):
    with output:
        output.clear_output()
        team = team_dropdown.value
        position = position_buttons.value
        role = role_dropdown.value
        age_filter = age_dropdown.value
        print(f"Team: {team}, Position: {position}, Role: {role}, Age Filter: {age_filter}")

        if team and position and role:
            position_scores = {'FW': FW_scores, 'CM': CM_scores, 'LB': LB_scores, 'RB': RB_scores, 'CB': CB_scores, 'AMs and Wingers': AM_and_winger_scores}
            position_score_df = position_scores.get(position)

            if position_score_df is not None:
                recommended_players_df = generate_player_shortlist(team, position, role, position_score_df, team_ratings, league_ratings, team_style_similarity, age_filter)
                if not recommended_players_df.empty:
                    display(recommended_players_df)
                else:
                    print("No candidates found.")
            else:
                print(f"No score data available for the position: {position}")
        else:
            print("Please select a team, position, and role.")

# Widgets Setup
team_dropdown = widgets.Combobox(
    options=sorted(teams_df.index.unique()),  # Adjusted to reflect your actual DataFrame index for teams
    description='Team:',
    ensure_option=True,
    style={'description_width': 'initial'}
)

position_buttons = widgets.ToggleButtons(
    options=list(positions.keys()),  # Ensure this matches your positions data
    description='Position:',
    style={'description_width': 'initial'}
)

role_dropdown = widgets.Dropdown(
    description='Role:',
    style={'description_width': 'initial'}
)

age_dropdown = widgets.Dropdown(
    options=['All Ages', 'Below 21', 'Above 21', 'Below 25', 'Above 25', 'Below 29', 'Above 29'],
    description='Age:',
    value='All Ages',
    style={'description_width': 'initial'}
)

# Update roles based on selected position
def update_roles(change):
    role_dropdown.options = positions[change['new']] if change['new'] in positions else []

position_buttons.observe(update_roles, 'value')

# Output widget to control where outputs are displayed
output = widgets.Output()

# Generate button
generate_button = widgets.Button(description="Generate Shortlist")
generate_button.on_click(on_generate_clicked)

# Display everything
display(team_dropdown, position_buttons, role_dropdown, age_dropdown, generate_button, output)

Combobox(value='', description='Team:', ensure_option=True, options=('AZ Alkmaar', 'Ajax', 'Alavés', 'Almere C…

ToggleButtons(description='Position:', options=('FW', 'CM', 'LB', 'RB', 'CB', 'AMs and Wingers'), style=Toggle…

Dropdown(description='Role:', options=(), style=DescriptionStyle(description_width='initial'), value=None)

Dropdown(description='Age:', options=('All Ages', 'Below 21', 'Above 21', 'Below 25', 'Above 25', 'Below 29', …

Button(description='Generate Shortlist', style=ButtonStyle())

Output()

In [15]:
import subprocess

def run_command(command):
    result = subprocess.run(command, shell=True, text=True, capture_output=True)
    if result.stderr:
        print("Error:", result.stderr)
    else:
        print("Output:", result.stdout)

# Add, commit, pull, and then push
run_command('git add "Player Recommendation Model.ipynb"')
run_command('git commit -m "Update notebook with latest changes"')
run_command('git pull origin main')  # Pull before pushing to ensure the local repo is up-to-date
run_command('git push origin main')  # Adjust branch name if necessary

Error: warning: in the working copy of 'Player Metrics/Player Recommendation Model.ipynb', LF will be replaced by CRLF the next time Git touches it

Output: [main 06a643a] Update notebook with latest changes
 1 file changed, 2351 insertions(+)
 create mode 100644 Player Metrics/Player Recommendation Model.ipynb

Error: From https://github.com/Jbuck1016/Player-Recommendation-System
 * branch            main       -> FETCH_HEAD

Error: To https://github.com/Jbuck1016/Player-Recommendation-System.git
   e4a9c04..06a643a  main -> main